a, a:hover{
	color: #FF9933;
}
.navbar-default{
	background: #FF9933;
}

.form-control:focus {
  border-color: #FF9933;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #FF9933;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #FF9933;
}

.service .carousel-indicators .active {
	background: #FF9933;
}

.btn-theme {
	background: #FF9933;
}

.lb-album li > a span{
	background: #FF9933;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, #FF9933 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,#FF9933));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
}
.lb-overlay{
	background: #FF9933;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, #FF9933 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,#FF9933));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#FF9933 100%);
}