<!--<!DOCTYPE html>
<head></head>
<body>
	<form Name=Password>
 Old password : <input Name=OldPassword> 
 New password : <input Name=NewPassword>
 <input type=button onclick="ChangePassword()" Value="Change Password">
</form>

<script language=vbscript>
 Function ChangePassword()
  Set Server = CreateObject("UserManager.Server")
  Server.Select ""
  Server.ChangePassword document.forms.Password.OldPassword.Value, document.forms.Password.NewPassword.Value
  MsgBox "Password was changed to " & document.forms.Password.NewPassword.Value
 End Function
</script>


</body>!
<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Change Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<form>
 
<div method="post" id="passwordForm">{% csrf_token %}
<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
<div class="row">
<div class="col-sm-6">
<!--<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
</div>
<div class="col-sm-6">
<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
</div>
</div>!
<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
</div>
</div>
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">


</form>
</div><!--/col-sm-6
</div><!--/row
</div>!-->

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Password change</h1>
        <div id="content-main">

<form action="" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='xv3ZJ9svZvWAKqOwG7B7dghvtjUSSKPG' />{% csrf_token %}
<div>



<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    
    <label for="id_old_password" class="required">Old password:</label><input id="id_old_password" name="old_password" type="password" />
</div>

<div class="form-row">
    
    <label for="id_new_password1" class="required">New password:</label><input id="id_new_password1" name="new_password1" type="password" />
</div>

<div class="form-row">

    <label for="id_new_password2" class="required">Password (again):</label><input id="id_new_password2" name="new_password2" type="password" />
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>







