{% extends 'newstreet/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}
        hello world! <strong>{{ boldmessage }}</strong><br />
        


        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/cover.jpg" %}" alt="Picture of furious 7" />
        
    </body>

</html>